.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  .weather-app {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 50px;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .weather-info {
    margin-top: 20px;
  }
  